<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.philmerrell.cordova.canopen" version="0.1">
    <name>CanOpen</name>
    <author>Phil Merrell, Bryan Wokich</author>
    <description>CanOpen is useful for checking if native apps are installed on a user's device in iOS or Android.
    </description>
    <license>Apache 2.0</license>
    <keywords>cordova, phonegap, canopen, canopenurl, url, scheme</keywords>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
    <js-module src="www/canOpen.js" name="canopen">
        <clobbers target="window.CanOpen"/>
    </js-module>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CanOpen">
                <param name="ios-package" value="CanOpen"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CanOpen.h"/>
        <source-file src="src/ios/CanOpen.m"/>
    </platform>
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="CanOpen">
                <param name="android-package" value="com.soundsoftware.canopen.CanOpen"/>
            </feature>
        </config-file>

        <source-file src="src/android/CanOpen.java" target-dir="src/com/soundsoftware/canopen"/>
    </platform>
</plugin>